* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f1f1f1;
}

.circle_wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 500px;
  height: 500px;
  transform: translate(-50%, -50%);
}

.circle {
  position: relative;
  overflow: hidden;
  height: 50%;
}

.circle:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 500px;
  box-sizing: border-box;
  border-radius: 50%;

  border: 250px solid transparent;
}

@keyframes spin-circle-top {
  from {
    transform: rotate(-135deg);
  }
  to {
    transform: rotate(45deg);
  }
}

@keyframes spin-circle-bottom {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(225deg);
  }
}

.circle.top:after {
  border-top-color: mediumpurple;
  border-left-color: mediumpurple;
  animation: spin-circle-top 0.5s 1 linear both;
}

.circle.bottom:after {
  border-top-color: mediumpurple;
  border-left-color: mediumpurple;

  top: -251px;

  animation: spin-circle-bottom 0.5s 0.5s 1 linear both;
}
